In [154]:
#Final Code!

import imaplib
import email
import re
import html
from html.parser import HTMLParser

############################################################
#Following is the code to connect to my gmail account

mail = imaplib.IMAP4_SSL('imap.gmail.com')
mail.login('ganesh7shahane@gmail.com', 'Bioinformatics7')
mail.list()
# Out: list of "folders" aka labels in gmail.
mail.select("inbox") # connect to inbox.

#############################################################
#Following is the code to search and fetch ALL emails from a certain sender, in this case ganesh7shahane@gmail.com

result, data = mail.search(None, '(FROM "ranzatomatteo@gmail.com")')

matteo_ID = data[0] #puts all the email IDs from ganesh7shahane@gmail.com in matteo_ID. When this variable is printed, it gives:  b'86 108 109 110 111....49887'

data_list = matteo_ID.split() #prints the output: [b'86', b'108', b'109', ..., b'49887']

###############################################################
#Following is the code to fecth only the latest email from ganesh7shahane@gmail.com

latest_matteo_email = data_list[-2] # -1 is the way to fetch the latest email ID, -2 fetches the second latest email

result, data = mail.fetch(latest_matteo_email, "(RFC822)") # fetches the email using RFC822 method

email_body = data[0][1] # if email_body is printed, it prints the gibberish version of email

#################################################################
#Following is the code to covert the gibberish email (in bytes) output from above to plain text

msg = email.message_from_bytes(email_body) #parses the email_body into a readable format
#print(msg)

for payload in msg.walk(): #here the walk() method goes through the parsed email
    if payload.get_content_type().lower() == 'text/plain':
        main_body = payload.get_payload() #get_payload() gets the main body of the email
#        print(main_body)

# We use the following code to define a regex       
mainbody_compile = re.compile('E-Mail:\s+(.*?)\nUserID:\s+(.*?)\nUsername:\s+(.*?)\nWallet:\s+(.*?)\n')

match_email = mainbody_compile.search(main_body) # searches the regex defined above in main_body

if match_email:
    print("This is the parsed regex. If it prints the 4 groups, then the code is SUCCESSFUL:")
    print(match_email.group(1)) #prints the email
    print(match_email.group(2)) #prints UserID
    print(match_email.group(3)) #prints wallet ID
    print(match_email.group(4)) #prints referral code

---------- Forwarded message ---------
From: [your-name] <wordpress@meridiocoin.com>
Date: Sat, Jun 23, 2018 at 12:45 AM
Subject: Registration Confirmation
To: <ranzatomatteo@gmail.com>


E-Mail: mranzato@baincapital.com
UserID: 1
Username: MeridioAdmin
Wallet: [wallet]

This is the parsed regex. If it prints the 4 groups, then the code is SUCCESSFUL:
mranzato@baincapital.com
1
MeridioAdmin
[wallet]

In [156]:
#Code to create a table, insert values and read the table

import sqlite3

coin = sqlite3.connect("onecompany.db")

email = match_email.group(1)
userid = match_email.group(2)
username = match_email.group(3)
wallet = match_email.group(4)

def create_table():
    c = coin.cursor()
    c.execute('''CREATE TABLE IF NOT EXISTS two_coin
              (Email TEXT NOT NULL,
               UserID REAL NOT NULL,
               Username TEXT NOT NULL,
               Wallet TEXT NOT NULL,
               ReferalCode TEXT,
               CoinCount INT
              );''')
    coin.commit()
    print("Table created successfully")
    c.close()

def data_entry():
    c = coin.cursor()
    existing_emails = coin.execute("SELECT * FROM one_coin WHERE Email = ?", (email,))
    coin.commit()
    if existing_emails.fetchone() is None:
        c.execute("INSERT INTO two_coin (Email, UserID, Username, Wallet, ReferalCode, CoinCount) VALUES (?, ?, ?, ?)", (match_email.group(1), match_email.group(2), match_email.group(3), match_email.group(4)));
        coin.commit()
        print("Values inserted successfully")
    else:
        print("Values alreasy exist")
    c.close()


def show_data():
    coin = sqlite3.connect("onecompany.db")
    cursor = coin.execute("SELECT * FROM one_coin")
    coin.commit()
    for row in cursor:
        print("Email = ", row[0])
        print("UserID = ", row[1])
        print("Username = ", row[2])
        print("Wallet = ", row[3], "\n")
        
    coin.close()

#create_table()
#data_entry()
show_data()

Email =  mranzato@baincapital.com
UserID =  1.0
Username =  MeridioAdmin


Email =  mranzato@baincapital.com
UserID =  1.0
Username =  MeridioAdmin

In [106]:
conn = sqlite3.connect('mycompany.db')
print("Opened database successfully");

cursor = conn.execute("SELECT * from cointable")
for row in cursor:
    print("Email = ", row[0])
    print("UserID = ", row[1])
    print("Username = ", row[2])
    print("Wallet = ", row[3], "\n")

print("Operation done successfully");
conn.close()

Opened database successfully

OperationalError: database is locked

In [113]:
#CREATE table operation

import sqlite3

conn = sqlite3.connect('justice.db')
print("Opened database successfully");

conn.execute('''CREATE TABLE BATMAN
         (ID INT PRIMARY KEY     NOT NULL,
         NAME           TEXT    NOT NULL,
         AGE            INT     NOT NULL,
         ADDRESS        CHAR(50),
         SALARY         REAL);''')

print("Table created successfully");

conn.close()

Opened database successfully

OperationalError: table BATMAN already exists

In [92]:
#INSERT operation

conn = sqlite3.connect('justice.db')
print("Opened database successfully");
trial = match_email.group(1)

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (1, 'Paul', 32, 'California', 20000.00 )");

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (2, 'Allen', 25, 'Texas', 15000.00 )");

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )");

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (4, 'Mark', 25, 'Rich-Mond ', 65000.00 )");

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (5, 'Ganesh', 29, 'Pune ', 75000.00 )");

#conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
#      VALUES (6, 'trial', 22, 'June ', 15000.00 )");

conn.execute("INSERT INTO BATMAN (ID,NAME,AGE,ADDRESS,SALARY) \
      VALUES (7, trial, 21, 'lune ', 95000.00 )");

conn.commit()
print("Records created successfully");
conn.close()

Opened database successfully

OperationalError: no such column: trial

In [137]:
#SELECT operation

conn = sqlite3.connect('justice.db')
print("Opened database successfully");

cursor = conn.execute("SELECT * from BATMAN")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

print("Operation done successfully");
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
ADDRESS =  32
SALARY =  California

ID =  2
NAME =  Allen
ADDRESS =  25
SALARY =  Texas

ID =  3
NAME =  Teddy
ADDRESS =  23
SALARY =  Norway

ID =  4
NAME =  Mark
ADDRESS =  25
SALARY =  Rich-Mond

ID =  5
NAME =  Ganesh
ADDRESS =  29
SALARY =  Pune

ID =  6
NAME =  trial
ADDRESS =  22
SALARY =  June

Operation done successfully

In [69]:
#Trying to connect to table COMPANY on this mac machine

con = sqlite3.connect('main.db')
c = con.cursor()
print("Opened database successfully");

c.execute("SELECT * from COMPANY")
for row in cursor:
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], "\n")

con.commit()
print("Operation done successfully");
c.close()

Opened database successfully

ProgrammingError: Cannot operate on a closed database.

In [98]:
import sqlite3
import time
import datetime
import random

random = sqlite3.connect("tutorial2.db")

def create_table():
    c = random.cursor()
    c.execute('CREATE TABLE IF NOT EXISTS stuffToPlot (unix REAL, datestamp TEXT, keyword TEXT, value REAL)')
    c.close()

def data_entry():
    c = random.cursor()
    c.execute("INSERT INTO stuffToPlot VALUES (145123542, '2016-01-03', 'Python', 7)")
    conn.commit()
    c.close()

def show_data():
    c = random.cursor()
    c.execute("SELECT * FROM stuffToPlot")
    for row in cursor:
        print("unix = ", row[0])
        print("datestamp = ", row[1])
        print("keyword = ", row[2])
        print("value = ", row[3], "\n")
    c.close()

#create_table()
#data_entry()
show_data()

OperationalError: database is locked

In [160]:
import random, string
x = ''.join(random.choice(string.ascii_uppercase + string.ascii_lowercase + string.digits) for _ in range(16))
print(x)

oOMKA3iBqDRwVD9v

In [161]:
a =3
print(a+1)

4